.jumbotron {
  padding-top: 5rem;
  background-color: #eec0c0;
}
#projects {
  background-color: #eec0c0;
}
section {
  padding-top: 5rem;
}
/* My Keyboard Section */
.keyboard-box{
  position: relative;
  background-color: #FF3131;
  border-radius: 10px;
  height: 500px;

}

